<body>
    <div class="container-fluid">
        <div class="row deliveryline">
        
                <div class="col-3 d-flex align-items-center">
                    <img class="deliveryimg" src="../assets/img/delivery/delivery.png" alt="" routerLink="/aboutus">  
                    <p class="d-flex deliverytext">Miễn phí cho đơn hàng trên 150k</p>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <img class="deliveryimg" src="../assets/img/delivery/delivery.png" alt="">  
                    <p class="d-flex deliverytext">Đặt trước 3 giờ chiều sẽ vận chuyển trong ngày</p>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <img class="deliveryimg" src="../assets/img/delivery/delivery.png" alt="">  
                    <p class="d-flex deliverytext">Đặt sau 3 giờ chiều vận chuyển trong ngày sau đó</p>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <img class="deliveryimg" src="../assets/img/delivery/delivery.png" alt="">  
                    <p class="d-flex deliverytext">Không giao hàng vào ngày chủ nhật.</p>
                </div>
        </div>
    </div>
    <div class="container-fluid text-center hd">
        <h1> Về Kidom </h1>
    </div>
    <div class="container">
        <br>
        <img src="assets/img/aboutus/Gary.png" alt="" class="img">
        <p>
            Chào mừng bạn đến với Kidom - Nơi Đồ chơi độc đáo và Tận hưởng Kỳ diệu Thơ ấu!
        </p>
        <p>
            Kidom không chỉ là một trang web bán đồ chơi, mà là tinh thần và sự sáng tạo của năm người bạn học sáng lập, chủ động từ đam mê và kí ức về thời thơ ấu. Hãy để chúng tôi kể một câu chuyện thú vị về nguồn cảm hứng và sứ mệnh của chúng tôi.
        </p>
        
        <p>
            Nguyên tác của Kidom xuất phát từ Gary Grant, người đã phát hiện ra niềm đam mê của mình trong việc mua bán đồ chơi và giải trí từ những năm 1970. Tính tài năng và sáng tạo của Gary đã được chúng tôi kế thừa và phát triển, giúp tạo ra một không gian mua sắm trực tuyến độc đáo và phong cách.
        </p>
        <img src="assets/img/aboutus/shop.jpg" alt="" class="imgshop">
        <p>
            Năm 5 người bạn học của chúng tôi, như những người sáng lập Kidom, có chung niềm đam mê với trẻ em và việc tạo ra những kí ức đáng nhớ cho họ. Chúng tôi tin rằng mỗi đứa trẻ đều xứng đáng có một tuổi thơ tràn đầy kỳ diệu, và Kidom là nơi mà chúng tôi thực hiện sứ mệnh này.
        </p>
        <p>
            Tại Kidom, chúng tôi không chỉ cung cấp những sản phẩm đồ chơi chất lượng cao mà còn xây dựng một cộng đồng yêu thích trẻ em và niềm vui gia đình. Chúng tôi đánh giá sự sáng tạo, vui chơi và trải nghiệm thú vị. Duyệt qua cửa hàng của chúng tôi để khám phá những điều tuyệt vời nhất mà Kidom mang đến cho bạn và những người thân yêu của bạn.
        </p>
        <p>
            Hãy đồng hành cùng chúng tôi trên hành trình tạo ra những kí ức thơ ấu đáng nhớ và làm cho mỗi đứa trẻ có một tuổi thơ tràn đầy kỳ diệu tại Kidom!
            <br>
        </p>
    </div>
    <div class="container line text-center p-1 align-items-center mt-5">
        <h2> Một số điều thú vị về Kidom</h2>
    </div>
    <div class="container"> 
        <div class="row">
            <div class="col-12 col-lg-4 mb-3 p-1 text-center">
                <img src="/assets/img/aboutus/1.png" alt="">
            </div>
            <div class="col-12 col-lg-4 mb-3 p-1 text-center">
                <img src="/assets/img/aboutus/2.png" alt="">
            </div>
            <div class="col-12 col-lg-4 mb-3 p-1 text-center">
                <img src="/assets/img/aboutus/3.png" alt="">
            </div>
        </div>
    </div>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  </body>

