<nav class="bottom-navbar navbar-expand-lg fixed-top" style="z-index: 999;">
    <div class="container">
        <div class="offcanvas offcanvas-start text-bg-dark row" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <!--Navbar header-->
            <div class="offcanvas-header text-white border-bottom">
                <h5 class="offcanvas-title ps-3" id="offcanvasDarkNavbarLabel">Kidom</h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!--navbar body-->
            <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-9">
                <ul class="navbar-nav justify-content-center fs-5 flex-grow-1 pe-3">
                    <li class="nav-item mx-3">
                        <a class="designbyu" routerLink="/design-by-you" target="_blank" >
                            <img src="assets/img/logo/design-by-you.png"/>
                         </a>
                    </li>
                    <li class="nav-item mx-3">
                        <a routerLink="/" class="nav-link active" aria-current="page">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a routerLink="/" class="nav-link dropdown-toggle">Sản phẩm</a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a routerLink="/" class="dropdown-item">Hành động</a>
                            <a routerLink="/" class="dropdown-item">Mỹ thuật</a>
                            <a routerLink="/" class="dropdown-item">Bộ sưu tập</a>
                            <a routerLink="/" class="dropdown-item">Búp bê</a>
                            <a routerLink="/" class="dropdown-item">Trò chơi ngoài trời</a>


                        </div>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a routerLink="/" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Phổ biến
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a routerLink="/" class="dropdown-item">toy 1</a>
                            <a routerLink="/" class="dropdown-item">toy 2</a>
                            <a routerLink="/" class="dropdown-item">toy 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a routerLink="/" class="nav-link dropdown-toggle">Mới</a>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a routerLink="/" class="nav-link dropdown-toggle">Khuyến mãi</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a routerLink="aboutus" class="nav-link">Về Kidom</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a routerLink="/blog" class="nav-link">Blog</a>
                    </li>
                </ul>   
            </div>   
        </div>
    </div>     
</nav>