<div class="button-container">
    <input type="text" placeholder="Search..." id="searchBar">
    <div>
        <ng-template #content let-c="close" let-d="dismiss" class = "new">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Thông tin sản phẩm</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="submitForm()" #productForm="ngForm">
                <label for="id">ID:</label>
                <input name="id" type="text" id="id" [(ngModel)]="model.id" required>
          
                <label for="productName">Tên sản phẩm:</label>
                <input name = "name" type="text" id="name" [(ngModel)]="model.name" required>
          
                <label for="brand">Thương hiệu:</label>
                <input name="brand" type="text" id="brand" [(ngModel)]="model.brand" required>
                
                <label for="stock">Số lượng:</label>
                <input name="stock" type="number" id="stock" [(ngModel)]="model.stock" required>

                <label for="price">Giá:</label>
                <input name="price" type="number" id="price" [(ngModel)]="model.price" required>
          
                <label for="category">Thể loại:</label>
                <select name="category" id="category" [(ngModel)]="model.category" required>
                  <option value="HÓA TRANG">Hoá trang</option>
                  <option value="THỦ CÔNG - MỸ THUẬT">Thủ công - mỹ thuật</option>
                  <option value="ĐỒ CHƠI NGOÀI TRỜI">Đồ chơi ngoài trời</option>
                  <option value="THỂ THAO">Thể thao</option>
                  <option value="TRÒ CHƠI TRÍ TUỆ">Trò chơi trí tuệ</option>
                  <option value="BÚP BÊ - GẤU BÔNG">Búp bê, gấu bông</option>
                  <!-- Add other categories -->
                </select>
          
                <label for="description">Chi tiết:</label>
                <textarea name="detail" id="description" [(ngModel)]="model.description" optional></textarea>
                
                <label for="images">Thumbnail:</label>
                <input name="images" type="file" id="images" (change)="handleImageChangeThumbnail($event)" single accept="image/*">

                <label for="images">Ảnh:</label>
                <input name="images" type="file" id="images" (change)="handleImageChange($event)" multiple accept="image/*">
                
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-dark btn-save" [disabled]="!productForm.form.valid">Thêm</button>
                  <!-- <button type="submit" class="btn btn-outline-dark btn-save">Thêm</button> -->
                </div>
              </form>
            </div>
        </ng-template>          
        <button class="button" (click)="open(content)">Thêm</button>
        <button class="button" >Xoá</button>
    </div>
</div>

<table class = "product">
    <thead>
        <tr>
            <th>ID</th>
            <!-- <th>Hình</th> -->
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Star</th>
            <th>Thương hiệu</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of products; index as i">
        <!-- Add your table rows dynamically here -->
          <tr>
              <td>{{product.id}}</td>
              <!-- <td>
                <img class="image-cell" [ngClass]="'image-cell-small'" [src]="product.imageHTML">
              </td> -->
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.price}}</td>
              <td>{{product.stock}}</td>
              <td>{{product.star}}</td>
              <td>{{product.brand}}</td>
              <td>{{product.description}}</td>
              <td>
                <button class="button"  (click)="deleteProduct(product)">Delete</button>
              </td>
          </tr>
    </tbody>
</table>