<div class="container mt-5">
    <h4 class="mb-4">CÁC CÂU HỎI THƯỜNG GẶP</h4>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h4 class="mb-0">
            <button class="btn btn-lg btn-danger w-100 fs-6" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span style="font-weight: Bold;">1. CÁCH THỨC MUA HÀNG TẠI KIDOM THẾ NÀO ?</span>
            </button>
          </h4>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p><span style="font-weight: 400;">Để mua hàng, bạn có thể trực tiếp đến hệ thống các cửa hàng chính thức của Kidom hằm có những trải nghiệm mua sắm tốt nhất.</span></p>
            <p><span style="font-weight: 400;">Hoặc, bạn có thể đặt mua các sản phẩm của chúng tôi ngay tại website theo các bước vô cùng đơn giản như sau:</span></p>
            <ul>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Chọn sản phẩm bạn thích.</span></li>
            <li style="font-weight: 400;">Chọn màu sắc và số lượng sản phẩm phù hợp.</li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Hoàn tất các bước đặt hàng khác trên hệ thống.</span></li>
            <li style="font-weight: 400;">Nhận email xác nhận đặt hàng thành công từ hệ thống Kidom.</li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Đợi chờ thêm một vài ngày để sản phẩm được giao đến bạn.</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h4 class="mb-0">
            <button class="btn btn-lg btn-danger w-100 fs-6" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <span style="font-weight: Bold;">2. KHI ĐẶT HÀNG TRÊN WEBSITE KIDOM, TÔI CÓ NHẬN ĐƯỢC EMAIL HAY CUỘC GỌI ĐỂ XÁC NHẬN TÔI ĐÃ ĐẶT HÀNG THÀNH CÔNG HAY KHÔNG?</span>
            </button>
          </h4>
        </div>

        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p><span style="font-weight: 400;">Hiện tại, sau khi đặt hàng thành công tại website </span><b>kidom.vn</b><span style="font-weight: 400;">, bạn sẽ nhận được xác nhận việc đặt hàng bằng email mà bạn đã dùng để đăng ký cùng cuộc gọi xác nhận đơn hàng từ bộ phận Customer Service của </span><b>Kidom</b><span style="font-weight: 400;">.</span></p>
<p><b><i>Một số lưu ý quan trọng:</i></b></p>
<p><i><span style="font-weight: 400;">– Bộ phận Customer Service sẽ liên lạc đến bạn thông qua cuộc gọi khi đơn hàng có sự cố phát sinh, trong khung giờ: Thứ 2 &#8211; Thứ 7, 8h00 đến 17h00.</span></i></p>
<p><i><span style="font-weight: 400;">– Kidom luôn cố gắng liên lạc với bạn 02 cuộc gọi/ ngày và trong 02 ngày liên tiếp. Nếu quá thời hạn trên mà chúng tôi vẫn chưa thể liên hệ để trao đổi vấn đề phát sinh, đơn hàng của bạn sẽ bị hủy trên hệ thống.</span></i></p>
<p><i><span style="font-weight: 400;">– Ở một số thời điểm hệ thống hoạt động kém ổn định (không gửi email xác nhận), bạn có thể chủ động liên hệ bộ phận Customer Service để nhận được thông tin đơn hàng.</span></i></p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h4 class="mb-0">
            <button class="btn btn-lg btn-danger w-100 fs-6" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <span style="font-weight: Bold;">3. LÀM THẾ NÀO TÔI CÓ THỂ TRA CỨU, HỦY BỎ HAY THAY ĐỔI ĐƠN HÀNG?</span>
            </button>
          </h4>
        </div>

        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p><span style="font-weight: 400;">Để tra cứu đơn hàng, bạn có thể truy cập mục </span><b>Tra cứu đơn hàng</b><span style="font-weight: 400;">, điền đầy đủ thông tin về “mã đơn hàng” và “email/số điện thoại” mà bạn đã đăng ký.</span></p>
                <p><span style="font-weight: 400;">Ở phần tra cứu đơn hàng, ngoài việc theo dõi quy trình xử lý, bạn cũng có thể trực tiếp hủy bỏ đơn hàng nếu đơn hàng đó chưa được chuyển qua giao nhận. Trong trường hợp đơn hàng đã được </span><b>Kidom</b><span style="font-weight: 400;"> chuyển qua đơn vị giao nhận, bạn vui lòng liên hệ trực tiếp với bộ phận </span><b>Customer Service</b><span style="font-weight: 400;"> qua số hotline </span><b>0944 502 474 </b><span style="font-weight: 400;">để được hướng dẫn chi tiết hơn.</span></p>
                <p><span style="font-weight: 400;">Ngoài ra, bạn cũng có thể liên lạc với bộ phận </span><b>Customer Service</b><span style="font-weight: 400;"> trong trường hợp có thay đổi thông tin đơn hàng hay mong muốn đổi qua một sản phẩm khác.</span></p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h4 class="mb-0">
            <button class="btn btn-lg btn-danger w-100 fs-6" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <span style="font-weight: Bold;">4. ĐỐI VỚI ĐƠN HÀNG ĐÃ THANH TOÁN BẰNG PHƯƠNG THỨC THANH TOÁN TRỰC TUYẾN, KHI HỦY ĐƠN HÀNG TÔI CÓ ĐƯỢC HOÀN LẠI KHOẢN THANH TOÁN HAY KHÔNG?</span>
            </button>
          </h4>
        </div>

        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Khi yêu cầu hủy đơn hàng đó đáp ứng đúng hướng dẫn</span><b> thay đổi hoặc hủy bỏ các giao dịch</b><span style="font-weight: 400;"> của Kidom, chúng tôi sẽ hoàn lại khoản thanh toán cho bạn dù với bất cứ lí do gì.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Thời gian hoàn lại khoản thanh toán tuỳ thuộc vào loại thẻ mà bạn sử dụng để thanh toán, thông thường là từ </span><b>1-3 ngày làm việc</b><span style="font-weight: 400;"> đối với thẻ nội địa, và </span><b>7-10 ngày làm việc</b><span style="font-weight: 400;"> đối với thẻ quốc tế kể từ khi đơn hàng bị hủy. Trong một số trường hợp có sự cố đến từ việc xử lí giao dịch từ ngân hàng hay cổng thanh toán, thời gian hoàn tiền có thể sẽ lâu hơn.</span></li>
                </ul>
          </div>
        </div>
      </div>
      <!-- Thêm các câu hỏi khác tương tự cần thiết -->

    </div>
  </div>