body {
    font-family: myFontSub;
}
.box-area {
    width: 930px;
    height: auto;
}
.header-text {
    font-size: 20px;
    text-align:left;
}
.background {
    background-image: url(/assets/img/login/background.jpeg);
    background-size: cover;
    background-position: center;
}
#luudangnhap {
    margin-top: 10px;
}
#btnsignin button{
    background-color: #F52A41;
    
}
.errorlogin {
    color: #F52A41;
}