<div class="container mt-5">
    <h4 class="mb-4">TERMS &amp; CONDITIONS &#8211; CHÍNH SÁCH CHUNG</h4>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h4 class="mb-0">
            <button class="btn btn-lg btn-danger w-100 fs-6" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <span style="font-weight: Bold;">1. QUY ĐỊNH VỀ BẢO MẬT THÔNG TIN</span>
            </button>
          </h4>
        </div>

        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row cont">
                <p><strong>Kidom</strong> luôn coi trọng việc bảo mật thông tin và cam kết sẽ sử dụng mọi biện pháp tốt nhất nhằm bảo vệ thông tin bạn đã cung cấp cho chúng tôi.<br />
                Ở một mặt khác, bạn hoàn toàn có thể truy cập vào website và trình duyệt mà không cần phải cung cấp chi tiết cá nhân. Thông tin của bạn, nếu có, cũng đều sẽ được mã hóa để đảm bảo an toàn trong suốt quá trình giao dịch tại website <strong>Kidom</strong>. Riêng trường hợp được cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.<br /></p>
                <p><b>Kidom</b><span style="font-weight: 400;"> tuân thủ các biện pháp đảm bảo an toàn/ bảo mật thông tin tài khoản thanh toán cá nhân theo quy định của pháp luật cũng như các quy định và các khuyến nghị về giám sát của Ngân hàng Nhà nước.</span></p>
                </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h4 class="mb-0">
            <button class="btn btn-lg btn-danger w-100 fs-6" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <span style="font-weight: Bold;">2. CHÍNH SÁCH THANH TOÁN</span>
            </button>
          </h4>
        </div>

        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row cont">
                    <p><span style="font-weight: 400;">Hiện tại, chúng tôi đang có các phương thức thanh toán sau:</span></p>
                    <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Tại cửa hàng:</span>
                    <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Thanh toán bằng tiền mặt</span></li>
                    <li style="font-weight: 400;">Thanh toán bằng ví điện tử Momo</li>
                    <li style="font-weight: 400;">Thanh toán bằng thẻ, mã QR từ ví điện tử và các ứng dụng ngân hàng qua dịch vụ POS (Point of sale).</li>
                    </ul>
                    </li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Đặt mua hàng tại website </span><span style="font-weight: 400;">kidom.vn</span><span style="font-weight: 400;">:</span>
                    <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">COD (cash on delivery): là hình thức thanh toán trực tiếp bằng tiền mặt khi bạn nhận hàng.</span></li>
                    <li style="font-weight: 400;">Thanh toán bằng thẻ nội địa &#8211; được phát hành bởi các ngân hàng trong nước (Vietcombank, Vietinbank, Sacombank,…). Lưu ý: Thẻ của bạn cần được đăng ký dịch vụ thanh toán thực tuyến tại ngân hàng để có thể sử dụng được hình thức này.</li>
                    <li style="font-weight: 400;">Thanh toán bằng thẻ quốc tế &#8211; được các ngân hàng trong nước liên kết với những tổ chức thẻ quốc tế (Visa, Master Card, JCB,…) phát hành.</li>
                    <li style="font-weight: 400;">Thanh toán bằng QR Code thông qua cổng thanh toán điện tử.</li>
                    <li>Thanh toán bằng ví điện tử Momo.</li>
                    </ul>
                    </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
              <h4 class="mb-0">
                <button class="btn btn-lg btn-danger w-100 fs-6" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <span style="font-weight: Bold;">3. CHÍNH SÁCH KHUYẾN MÃI</span>
                </button>
              </h4>
            </div>
    
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row cont">
                    <p>Với mong muốn giúp bạn có những trải nghiệm mua sắm tốt nhất, <strong>Kidom</strong> sẽ áp dụng một số chính sách khuyến mãi cố định hoặc tùy thời điểm về phí giao hàng, quà tặng và ưu đãi đặc biệt. Hãy cập nhật thường xuyên để biết thêm chi tiết bạn nhé!</p>
                    </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
              <h4 class="mb-0">
                <button class="btn btn-lg btn-danger w-100 fs-6" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <span style="font-weight: Bold;">4. CHÍNH SÁCH ĐỔI TRẢ VÀ BẢO HÀNH</span>
                </button>
              </h4>
            </div>
    
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row cont">
                    <p><strong>1. Quy định đổi hàng:</strong></p>
                    <ul>
                    <li style="font-weight: 400;">Với sản phẩm mua tại cửa hàng, thời hạn đổi sản phẩm là 07 ngày, tính từ ngày bạn mua hàng. Còn với sản phẩm mua online, thời hạn đổi sản phẩm là 14 ngày, tính từ ngày nhận được hàng.</li>
                    <li style="font-weight: 400;">Chỉ áp dụng đổi hàng 01 lần duy nhất cho tất cả sản phẩm.</li>
                    <li style="font-weight: 400;">Sản phẩm đổi phải còn mới, còn nguyên tem, hộp, nhãn mác và chưa có dấu hiệu đã sử dụng, đã giặt tẩy, bám bẩn hay biến dạng.</li>
                    <li style="font-weight: 400;">Kidom sẽ không áp dụng việc đổi hàng với các sản phẩm đang áp dụng chương trình Sale Off từ 50% trở lên, các sản phẩm thuộc phiên bản giới hạn (limited edition).</li>
                    <li style="font-weight: 400;">Việc đổi hàng chỉ áp dụng tại đúng kênh (cửa hàng) mà bạn đã mua hàng.</li>
                    <li style="font-weight: 400;">Không áp dụng việc trả hàng &#8211; hoàn tiền trong bất cứ trường hợp nào. Mong bạn thông cảm.</li>
                    <li style="font-weight: 400;">Kidom ưu tiên hỗ trợ đổi màu. Trong trường hợp mong muốn đổi sang 01 sản phẩm khác, chúng tôi vẫn hỗ trợ bạn:
                    <ul>
                    <li style="font-weight: 400;">Nếu bạn muốn đổi sang sản phẩm có giá trị cao hơn, bạn sẽ cần bù khoản chênh lệch tại thời điểm đổi (nếu có).</li>
                    <li style="font-weight: 400;">Nếu bạn muốn đổi sang sản phẩm có giá trị thấp hơn, chúng tôi sẽ không hoàn lại tiền.</li>
                    </ul>
                    </li>
                    </ul>
                    <p><span style="font-weight: 400;">Để đổi hàng, bạn có thể xem thêm hướng dẫn tại phần FAQs – mục “III. Quy định Đổi hàng – Bảo hành sản phẩm”.</span></p>
                    <p><strong>2. Quy định bảo hành:</strong></p>
                    <div class="row cont">
                    <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Đối với tất cả sản phẩm, </span><span style="font-weight: 400;">Kidom hỗ trợ bảo hành trong vòng </span><b>06 tháng kể từ ngày mua</b><span style="font-weight: 400;"> với các trường hợp bung keo, sứt chỉ, hoặc 1 đổi 1 với trường hợp phát sinh lỗi từ trong quá trình sản xuất.</span></li>
                    <li>Để việc bảo hành thuận tiện và nhanh chóng hơn, bạn vui lòng vệ sinh sản phẩm sạch sẽ trước khi gửi về Kidom. Chúng tôi xin từ chối thực hiện việc bảo hành nếu như sản phẩm chưa được vệ sinh khi nhận.</li>
                    </ul>
                    </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Thêm các câu hỏi khác tương tự cần thiết -->

    </div>