<body>
    <div class="container pt-4" >
        <div class="front row">  
            <div class="img-container col-md-3 col-sm-6"> <!--hình logo kidom/cột 1-->
                <a routerLink="/">
                    <img src="assets/img/logo/logo-red.png" class="logo">
                </a>
                <div class="mt-4">
                    <ul class="list-unstyled mb-4">
                        <li>
                            <a routerLink="aboutus" class="text-white">Về Kidom</a>
                        </li>
                        <li>
                            <a href="https://web.facebook.com/suachuasaydalatella" class="text-white">Liên hệ</a>
                        </li>
                        <li>
                            <a routerLink="/blog" class="text-white">Tin tức</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-column col-md-3 col-sm-6 pt-4"> <!--cột 2-->
                <h5 class=" mb-4">Hỗ trợ & Chính sách</h5>
                <ul class="list-unstyled mb-4">
                    <li>
                        <a routerLink="/faq" class="nav-link">Các câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a routerLink="/policy" class="nav-link">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a routerLink="/policy" class="nav-link">Chính sách thanh toán</a>
                    </li>
                    <li>
                        <a routerLink="/policy" class="nav-link">Chính sách khuyến mãi</a>
                    </li>
                    <li>
                        <a routerLink="/policy" class="nav-link">Chính sách bảo hành và đổi trả</a>
                    </li>
                </ul>    
            </div>
            <div class="right-column col-md-3 col-sm-6 pt-4 pe-4"> <!--Cột 3 - đki nhận thông tin-->
                <div class="form-outline form-white mb-2">
                    <label class="form-label" for="form5Example2">Đăng ký nhận thông tin</label>
                    <input type="email" id="form5Example2" class="form-control" />
                </div>
                <!--checkbox không cùng hàng với text-->
                <div class="checkbox-container mb-2"> 
                    <input type="checkbox" id="agree"/>
                    <label for="agree">Tôi đồng ý nhận những thông báo về thông tin sản phẩm mới và khuyến mãi của Kidom</label>
                </div>
                <button type="submit" class="btn subscribe">Gửi</button>
            </div>
            <div class="right-column col-md-3 col-sm-6 pt-4">
                <h5 class="mb-4">Theo dõi Kidom tại</h5>
                <div class="social">
                    <a href="https://web.facebook.com/suachuasaydalatella">
                        <img src="/assets/img/footer/Facebook-Logo.png">
                    </a>
                    <a href="https://www.tiktok.com/@suachuasaylanhdalatella?_t=8ioBF2yFX0x&_r=1">
                        <img src="/assets/img/footer/TIKTOK-social-1-.png">
                    </a>
                    <a href="https://web.facebook.com/suachuasaydalatella">
                        <img src="/assets/img/footer/Instagram-Logo.png">
                    </a>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="text-center mt-3 border-top border-white">
            © 2023 Copyright:
            <a class="text-white" href="#">Kidom.com</a>
        </div>
        <!-- Copyright -->
  
    <!-- End of .container -->
    </div>
</body>