<div class="button-container">
    <input type="text" placeholder="Search..." id="searchBar">
    <div>
        <button class="button" onclick="removeProduct()">Remove</button>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên khách hàng</th>
            <th>Chi tiết đơn hàng</th>
            <th>Tổng giá trị đơn hàng</th>
            <th>Địa chỉ</th>
            <th>Tình trạng</th>
        </tr>
    </thead>
    <tbody>
        <!-- Add your table rows dynamically here -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>